$blue-background-color: rgba(0, 163, 224, 0.15);
$yellow-background-color: rgba(254, 209, 65, 0.15);
$pink-background-color: rgba(208, 0, 111, 0.15);

$blue-btn-color: rgba(0, 163, 224, 1);
$yellow-btn-color: rgba(254, 209, 65, 1);
$pink-btn-color: rgba(208, 0, 111, 1);

$blue-border-color: #7bccf0;
$yellow-border-color: #ffe59a;
$pink-border-color: #f56fa9;
